.navbarContainer {
    width: 100%;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.header {
    width: 100%;
    font-size: 25px;
    display: block;
    text-align: center;
    color: #343434;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif;
    background-color: rgba(201, 201, 201, 0.356);
}

.incomeAndExpenses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.incomeAndExpenses button {
    display: block;
    margin: auto 10px 10px auto;
}

.income {
    border: rgba(70, 70, 70, 0.5) solid 1px;
    flex: 0.5;
    text-align: center;
    border-radius: 5px;
}

.income p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight:lighter;
    background-color: rgba(201, 201, 201, 0.356);
    width: fit-content;
    margin: 5px auto 5px;
    padding: 5px;
    border-radius: 5px;
}

.expenses {
    border: rgba(70, 70, 70, 0.5) solid 1px;
    flex: 0.5;
    text-align: center;
    border-radius: 5px;
}

.expenses p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight:lighter;
    background-color: rgba(206, 206, 206, 0.5);
    width: fit-content;
    margin: 5px auto 5px;
    padding: 5px;
    border-radius: 5px;
}