.main {
    height: 100%;
}

.container {
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.pageContent {
    max-width: 1300px;
    border-radius: 30px;
    height: 500px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .pageContent h1{
    width: 100%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:200;
  }
  
  .pageContent p{
    width: 100%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight:200;
  }
  
  .picture img{
    margin: 20px;
    display: block;
    width: 95%;
    height: auto;
    border-radius: 30px;
    opacity: 1;
  
  }

  .picture {
    width: 50%;
    background-color: rgba(153,176,191, 0.8);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .authContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .authButton {
    display: block;
    margin: auto;
    width: 150px;
  }